.container {
  width: 33%;
  padding: 1rem;
}
.container:hover {
  transition: 0.3s cubic-bezier(0.65, 0, 0.35, 1);
  transform: scale(1.05);
  cursor: pointer;
}
.img {
  width: 100%;
  padding-top: 66.66%;
}
.title {
  font-size: 1.5rem;
  color: black;
  text-align: center;
}
.date {
  color: #ccc;
  text-align: right;
  font-size: 0.8rem;
}
.content {
  padding: 0 1rem;
}

@media only screen and (max-width: 928px) {
  .container {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
