.container {
  width: 95%;
  margin: 1rem auto;
}

.container h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}

.listWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
