@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Rubik-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Rubik-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Rubik-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/Rubik-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Nunito-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Nunito-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/Nunito-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'DancingScript';
  font-style: normal;
  src: url('/fonts/DancingScript-SemiBold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: '#333333';
  background: #fafafa;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #333333;
  cursor: pointer;
}

.text-navigation {
  cursor: pointer;
  font-size: 1.2rem;
  text-decoration: none;
  color: #333333;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.text-navigation svg {
  margin: 0 0.5rem;
}

pre {
  background-color: #f1f2f3;
  border: 1px solid #e5e5e5;
  color: #24292e;
  border-radius: 3px;
  padding: 1rem;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.45;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  max-width: 100%;
  overflow-x: auto;
}

.fade-in {
  animation: fade-in 0.5s cubic-bezier(0.65, 0, 0.35, 1);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
